[tox]
isolated_build = true
envlist =
    py

[testenv]
deps =
    coverage
    pytest
commands =
    coverage run -p -m pytest --durations=10 --junitxml={toxinidir}/reports/test_status/{envname}.xml --doctest-modules {envsitepackagesdir}/{{short_name}} tests/