import {{short_name}}


# The real reason for having this test is so that pytest will find something in an
# otherwise empty project.
def test_version_is_string():
    # As opposed to some more structured type
    assert isinstance({{short_name}}.__version__, str)
